<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile Web Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pink.css">
    <link rel="stylesheet" href="css/images.css">
     <link rel="stylesheet" href="css/shopping.css">
</head>
<body>
    <h1 data-text="HI IM FEL">HI IM FEL</h1>
    <div class="container about-me">
        <img class="profile-image" src="https://raw.githubusercontent.com/saintcalico/webprogMI231-personal-website/main/home/fel1.jpg" alt="Feliz Salting">
        <h2>About Me</h2>
        <div class="content">
            <p>
                I'm Feliz Salting, a 2nd year BSIT-MI student in Asia Pacific College. 
                I'm also an external relations executive director in APC-Microsoft Community. 
                For more personal info, I have a pet dog named Jake even though she's a girl. 
                I'm also an only child with two loving parents.
            </p>
            <h3>Education and Achievements | Additional Info | IT Experience | Picture Gallery</h3>
        </div>
    </div>


<div id="app">
  {{ message }} <br>
  {{'Random number: ' + Math.ceil(Math.random()*6) }}
  <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>

</div>
    <div id="app2">
  <div>
    <figure v-for="x in manyFoods">
      <img v-bind:src="x.url">
      <figcaption>{{ x.name }}</figcaption>
    </figure>
  </div>
</div>

<div id="app3">
  <form v-on:submit.prevent="addItem">
    <p>
      What do you need? <br>
      <input type="text" required placeholder="item name.." v-model="itemName">
    </p>
    <p>
      How many? <br>
      <input type="number" placeholder="number of items.." v-model="itemNumber">
    </p>
    <p>
      Important?
      <label>
        <input type="checkbox" v-model="itemImportant">
        {{ itemImportant }}
      </label>
    </p>
    <button type="submit">Add item</button>
  </form>
  <br>
  <hr>

  <div>
    <p><strong>Shopping list:</strong></p>
    <ul id="ulToFind">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="!item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
    <ul id="ulFound">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/images.js"></script>
<script src="js/shopping.js"></script>

</body>
</html>
